@import '../../styles/colors.scss';

.class-card {
  position: relative;
  width: 600px;
  height: 200px;
  padding: 20px 30px;

  font-family: 'Nunito', sans-serif;

  background-color: white;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  transition: all 200ms ease;

  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.2);
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;

    width: 8px;
    height: 100%;

    background-color: $secondary1;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__info {
    margin-left: 20px;


    & > h1 {
      margin: 4px 0;
      color: black;
      font-size: 32px;
      font-weight: 700;
    }

    & > p {
      margin: 0;
      color: $dark3;
    }
  }

  &__grade {
    position: absolute;
    left: 35px;
    bottom: 25px;

    width: 40px;
    height: 40px;

    background-color: rgba(75, 225, 86, 0.7);
    border-radius: 50%;

    & > p {
      margin: 0;
      line-height: 40px;
      text-align: center;

      font-weight: 700;
      color: white;
    }
  }

  &__period {
    position: absolute;
    top: 0;
    right: 0;

    width: 80px;
    height: 80px;

    background-color: $secondary1;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    filter: drop-shadow(0 0 20px black);

    & > p {
      position: absolute;
      right: 15px;
      top: 10px;
      margin: 0;

      font-weight: 700;
      font-size: 24px;
      color: white;
    }
  }
}