@import '../../styles/colors.scss';

.page-app {
  width: 100%;
  font-family: 'Nunito', sans-serif;

  background-color: $dark4;

  &__top {
    width: 100%;
    height: 300px;

    background-color: $dark1;

    & > h1 {
      margin: 0;
      margin-bottom: 10px;
      color: white;
      font-size: 48px;
    }

    & > h3 {
      margin: 0;
      color: $dark2;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__hero {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    & > img {
      box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.4);
    }

    &__info {
      margin-left: 40px;

      & > h3 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 2px;

        color: $dark2;
      }

      & > h1 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        color: $primary1;
      }

      & > p {

      }
    }
  }

  &__classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 1400px;

    & > * {
      flex-basis: 600px;
      margin: 10px;
    }
  }
}
